body {
  background: linear-gradient(45deg, #2d2d2d 9%, #000 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div {
  position: relative;
}

/* The div isn't really needed its just because this setup made it a bit easier for me for editability with the inputs, option without div and nested span is at the following link
https://codepen.io/mandymichael/pen/OJGjXgO
*/
h1 {
  color: rgb(45, 45, 45);
}

.text {
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  font-size: 14vw;
  line-height: 1;
  margin: 0;
}

span {
  --offset: 2;
  position: absolute;
  color: #ffcc00;
  left: calc(var(--offset) * 1ch + var(--offset) * 0.2ch);
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
  top: 0;
  z-index: 1;
}

@-webkit-keyframes flicker {
  0%, 19.9%, 22%, 62.9%, 64%, 64.9%, 70%, 100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.9%, 63%, 63.9%, 65%, 69.9% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 19.9%, 22%, 62.9%, 64%, 64.9%, 70%, 100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.9%, 63%, 63.9%, 65%, 69.9% {
    opacity: 0.4;
    text-shadow: none;
  }
}
fieldset {
  font-family: "Fira Mono", monospace;
  border: none;
  position: absolute;
  bottom: 20px;
  color: #a3a3a3;
}

label {
  font-size: 14px;
}

input {
  background: #a3a3a3;
  border: 1px solid #000;
}